<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>392468411342-rojau12htq5gcub1v27q2nhvrjkdnjtm.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.392468411342-rojau12htq5gcub1v27q2nhvrjkdnjtm</string>
	<key>API_KEY</key>
	<string>AIzaSyAcLy0GbYcdtu5xP7j7L5nca__dC3VdDuc</string>
	<key>GCM_SENDER_ID</key>
	<string>392468411342</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.find.doctor.db.testHonours</string>
	<key>PROJECT_ID</key>
	<string>fir-honours-app</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-honours-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:392468411342:ios:fcf3210412018431d9b19f</string>
</dict>
</plist>